:root {
    --palette-main-blue: #1531B0;
    --palette-main-green: #31CA85;
    --palette-bg-gray: #f3f6fa;

    --color-blue: var(--palette-main-blue);
    --color-green: var(--palette-main-green);
    --color-gray: var(--palette-bg-gray);

    --font-h1: normal 700 44px/100% 'Montserrat', Arial, sans-serif;
    --font-h2: normal 700 32px/100% 'Montserrat', Arial, sans-serif;
    --font-h3: normal 700 24px/100% 'Montserrat', Arial, sans-serif;
    --font-h4: normal 700 20px/100% 'Montserrat', Arial, sans-serif;
    --font-h5: normal 700 18px/100% 'Montserrat', Arial, sans-serif;
    --font-p1: normal 400 24px/150% 'Montserrat', Arial, sans-serif;
    --font-p2: normal 400 16px/150% 'Montserrat', Arial, sans-serif;

    --heading1-font: var(--font-h1);
    --heading2-font: var(--font-h2);
    --heading3-font: var(--font-h3);
    --heading4-font: var(--font-h4);
    --heading5-font: var(--font-h5);
    --paragraph1-font: var(--font-p1);
    --paragraph2-font: var(--font-p2);    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    font-family: "Montserrat";
}